<!DOCTYPE html>
<html>
<head>
	<title>සෙවුම් යන්ත්‍රය</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/new_style.css">


</head>
<body>
	<div class="container-fluid" style='background-image: url("https://www.tamilguardian.com/sites/default/files/Image/pictures/2018/Sri%20Lanka%20govt/parliament%20reconvenes.jpg"); min-height: 650px;' >
		<div class="container" >
			<div class="row" >
				<div class="well well-lg" >
					<h1 style='text-align: center; background: url("https://lh3.googleusercontent.com/proxy/y0wY5CmyADZ14xyuvMFbrZDl57_gzyn-SZekJSKVqfaFWj8yJMP5hl-6YeHiPrU_4TANY_PTGNFDgk-ZEXU44XuF_OtgnYg-44GW9A9pfr4pPn_UtSRY_XOP6Q");' class="list-group-item-heading">ශ්‍රී ලංකා පාර්ලිමේන්තු මන්ත්‍රීවරු</h1>
				</div>
				<div class="search">
					

					<form style="text-align: center; border-radius: 25px;" action="{{ url_for('predictTokens')}}" method="POST">



						<div style="padding-top: 2%;" class="form-group">
							<div style="justify-content: center;" class="row">
								<div class="col-lg-10">
									<div class="input-group">
									  <input  type="text" class="form-control" placeholder="ඔබගේ සෙවුම් විමසුම ඇතුලත් කරන්න" id="message" name="message">
									  <span class="input-group-btn">
										<button  class="btn btn-default" type="submit">සොයන්න!</button>
									  </span>
									</div><!-- /input-group -->
								  </div><!-- /.col-lg-6 -->
							</div><!-- /.row -->

						</div>					
					</form>
				</div>

				<br>

				<div class="result">
					<div>
						
						{% if res == None %}
							<!-- <h5> ප්‍රතිඵල මෙහි දිස්වනු ඇත. </h5> -->
						{% else %}
							
							<div class="alert alert-info" role="alert">
								<p class="bio">විමසුම: '<b>{{ message }}</b>' <br></p>
							</div>

							<div class="alert alert-success" role="alert">
								<p class="bio">ප්‍රතිඵල <span class="badge">{{ num_results }} </span> හමුවිය</p>
							</div>

							<br>
							{% for i in res %}
								{% if len == 2 %}
								<ul class="list-group">
									<li class="list-group-item">
									<p>{{ i[0] }} ({{ i[1] }})</p>
									</li>
								</ul>
								{% elif len == 3 %}
								<ul class="list-group">
									<li class="list-group-item">
									<p><b>{{ i[0] }}</b></p>
									<p class="bio">{{ i[1] }}</p>
									<p class="score">{{ i[2] }}</p>
									</li>
								</ul>
								{% elif len > 3 %}
								<ul class="list-group">
									<li class="list-group-item">
									<p><b>{{ i[0] }}</b></p>
									<p class="bio">තනතුර: {{ i[1] }}</p>
									<p class="bio">පක්ෂය: {{ i[2] }}</p>
									<p class="bio">දිස්ත්‍රික්කය: {{ i[3] }}</p>
									<p class="bio">ඇමතුම්: {{ i[4] }}</p>
									<p class="bio">විෂයයන්: {{ i[5] }}</p>
									<p class="bio">චරිතාපදානය: {{ i[6] }}</p>
								</li>
								</ul>
								{% else %}
								<ul class="list-group">
									<li class="list-group-item"><p>{{ i }}</p> </li>
								</ul>
								{% endif %}
							{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>

		</div>
	</div>
	
	

</body>
</html>